# This is a basic workflow to help you get started with Actions

name: Test build and release app CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    tags:
      - v*

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build andriod:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    # 建立 java 环境
    - name: Setup Java JDK
      uses: actions/setup-java@v1.3.0
      with:
        java-version: "12.x"
    - name: Flutter action
      uses: subosito/flutter-action@v1.1.1
      with:
        channel: "stable"
        flutter-version: "1.12.x"
    - run: flutter pub get
    - run: flutter test
    - run: flutter build apk --debug --split-per-abi
    - name: Create a Release APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/apk/debug/*.apk"
        token: ${{ secrets.RELEASE_TOKEN }}


#Build for iOS too (macOS only):

  build ios:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.9.1+hotfix.6'
      - run: flutter pub get
      - run: flutter test
#      - run: flutter build apk
      - run: flutter build ios --debug --no-codesign

      - name: before deploy
        run: |
          ls build/ios
          pushd build/ios/iphoneos
          mkdir Payload
          cd Payload
          ln -s ../Runner.app
          cd ..
          zip -r app.ipa Payload
          popd

      - name: Create a Release IOS IPA
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/ios/iphoneos/*.ipa"
          token: ${{ secrets.RELEASE_TOKEN }}

#  Use app bundle, instead of APK:
#
#    ```yaml
#  steps:
#    - uses: actions/checkout@v1
#    - uses: actions/setup-java@v1
#      with:
#        java-version: '12.x'
#    - uses: subosito/flutter-action@v1
#      with:
#        flutter-version: '1.9.1+hotfix.6'
#    - run: flutter pub get
#    - run: flutter test
#    - run: flutter build appbundle
